In [1]:
import pandas as pd

In [5]:
dataFrame = pd.read_csv("studentMat.csv",sep=';')

In [6]:
dataFrame=dataFrame[['G1','G2','G3','studytime','failures','absences','age',]]

In [7]:
dataFrame.head()

   G1  G2  G3  studytime  failures  absences  age
0   5   6   6          2         0         6   18
1   5   5   6          2         0         4   17
2   7   8  10          2         3        10   15
3  15  14  15          3         0         2   15
4   6  10  10          2         0         4   16

In [29]:
dataFrame.isnull().sum()

Midterm1     0
Midterm2     0
Final        0
studytime    0
failures     0
absences     0
age          0
dtype: int64

In [30]:
dataFrame.rename(columns={'G1':'Midterm1',
                         'G2':'Midterm2',
                         'G3':'Final'},
                inplace=True)

In [31]:
dataFrame.head()

   Midterm1  Midterm2  Final  studytime  failures  absences  age
0         5         6      6          2         0         6   18
1         5         5      6          2         0         4   17
2         7         8     10          2         3        10   15
3        15        14     15          3         0         2   15
4         6        10     10          2         0         4   16

In [32]:
dataFrame.dtypes

Midterm1     int64
Midterm2     int64
Final        int64
studytime    int64
failures     int64
absences     int64
age          int64
dtype: object

In [33]:
import numpy as np
y=np.array(dataFrame['Final'])
X=np.array(dataFrame.drop('Final',axis=1))

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
lin_reg=LinearRegression()

In [38]:
lin_reg.fit(X_train,y_train)

LinearRegression()

In [39]:
lin_reg.score(X_test,y_test)

0.8325898318712225

In [40]:
lin_reg.score(X_train,y_train)

0.826127547519714

In [41]:
new_data=np.array([[10,14,3,0,4,16]])
lin_reg.predict(new_data)

array([13.19096755])