In [1]:
import pandas as pd

In [2]:
dataFrame = pd.read_csv("titanic.csv")

In [3]:
dataFrame.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [5]:
from sklearn import preprocessing

In [6]:
le = preprocessing.LabelEncoder()

In [7]:
cinsiyet = dataFrame.iloc[:,3:4].values

In [8]:
cinsiyet = dataFrame.iloc[:,3:4].valuescinsiyet = le.fit_transform(cinsiyet)

C:\Users\dilar\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\dilar\AppData\Local\Temp\ipykernel_20984\874503222.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  cinsiyet = dataFrame.iloc[:,3:4].valuescinsiyet = le.fit_transform(cinsiyet)

In [9]:
dataFrame["Sex"]=cinsiyet  ##kategorik olan verileri label encoding ile numeric veriye çevirdim.

In [10]:
dataFrame = dataFrame.drop("Name",axis = 1) ##hayatta kalmaya etkisinin olmadığını düşündüğüm name sütununu kaldırdım.

In [11]:
dataFrame.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,0,38.0,1,0,71.2833
2,1,3,0,26.0,0,0,7.9250
3,1,1,0,35.0,1,0,53.1000
4,0,3,1,35.0,0,0,8.0500

In [16]:
import numpy as np
y=np.array(dataFrame['Survived'])
X=np.array(dataFrame.drop('Survived',axis=1))

In [17]:
from sklearn.model_selection import train_test_split

In [53]:
X_train,X_test ,y_train,y_test=train_test_split(X,y,test_size=0.22,random_state=3)

In [54]:
from sklearn.linear_model import LinearRegression

In [55]:
lin_reg=LinearRegression()

In [56]:
lin_reg.fit(X_train,y_train)

LinearRegression()

In [57]:
lin_reg.score(X_test,y_test)

0.44160054251566383

In [58]:
lin_reg.score(X_train,y_train)

0.3823337448845272